@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}

img, svg {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
  padding: 0 16px;
}

.btn {
  max-width: 190px;
  width: 100%;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 700;
  color: #101010;
  white-space: nowrap;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.btn.--callback {
  background-color: #FF574D;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .btn.--callback:hover {
    background-color: #D34137;
  }
}

.btn.--selected {
  background-color: #2B8E53;
  color: #ffffff;
}

.section {
  padding: 150px 0;
}

.section__title {
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .section__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
}

.section__title.--center {
  text-align: center;
  color: #101010;
}

.section__title.--left {
  text-align: left;
  color: #ffffff;
}

.section__dsc {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  color: #373737;
}

.address-hidden {
  z-index: 20;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  padding: 20px;
  min-width: 230px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.1));
  cursor: default;
}

.address-hidden-btn {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.address-hidden a {
  font-weight: 400 !important;
  color: #373737;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (min-width: 768px) {
  .address-hidden a:hover {
    color: #2B8E53;
    font-weight: 700 !important;
  }
}

.address-hidden a:not(:last-of-type) {
  margin-bottom: 10px;
}

.logo {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .logo {
    font-size: 18px;
    line-height: 23.4px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-top: -5px;
    padding-left: 14px;
  }
  .logo::before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 6px;
    height: 40px;
    width: 1px;
    background-color: #DBDBDB;
  }
}

.form {
  max-width: 481px;
  padding: 70px;
  background-color: #F1F1F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 576px) {
  .form {
    padding: 15px 0;
    padding-bottom: 80px;
    border-radius: 0;
  }
}

.form__title {
  margin-bottom: 30px;
  max-width: 341px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #101010;
}

@media screen and (max-width: 576px) {
  .form__title {
    padding-right: 50px;
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 700;
  }
}

.form__label {
  position: relative;
}

.form__label::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #989898;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__label.problem::after {
  background-color: #FF574D !important;
}

@media screen and (min-width: 992px) {
  .form__label:hover::after {
    height: 2px;
    background-color: #2B8E53;
  }
  .form__label:hover input::-webkit-input-placeholder {
    color: #2B8E53;
  }
  .form__label:hover input:-ms-input-placeholder {
    color: #2B8E53;
  }
  .form__label:hover input::-ms-input-placeholder {
    color: #2B8E53;
  }
  .form__label:hover input::placeholder {
    color: #2B8E53;
  }
}

.form__input {
  margin: 13px 0;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 600;
  color: #2B8E53;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 576px) {
  .form__input {
    width: 100%;
  }
}

.form__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 400;
  color: #989898;
}

.form__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 400;
  color: #989898;
}

.form__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 400;
  color: #989898;
}

.form__input::placeholder {
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 400;
  color: #989898;
}

.form__policy {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .form__policy {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__policy a {
    display: block;
  }
}

.form__policy input {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: none;
}

.form__policy input:checked + label {
  background-color: #2B8E53;
}

.form__policy label {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form__policy label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14px;
  height: 10px;
  background-image: url(../assets/check.svg);
  background-repeat: no-repeat;
}

.form__policy span {
  margin-left: 10px;
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 600;
  color: #373737;
}

.form__policy span a {
  color: #2B8E53;
}

.form > button.--callback {
  margin-top: 40px;
  padding: 15px 21.5px;
}

@media screen and (max-width: 576px) {
  .form > button.--callback {
    max-width: 100%;
  }
}

.burger-btn {
  position: relative;
  display: none;
  margin-left: auto;
  margin-right: 3px;
  margin-top: -11px;
  width: 27px;
  height: 13px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}

.burger-btn span {
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #2B8E53;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-tap-highlight-color: transparent;
}

.burger-btn span:first-of-type {
  top: 0;
}

.burger-btn span:nth-child(2) {
  top: 50%;
}

.burger-btn span:last-of-type {
  top: 100%;
  width: 16px;
}

.burger-btn.--active span:first-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-btn.--active span:nth-child(2) {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-btn.--active span:last-of-type {
  width: 0;
}

.burger-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 30px 15px;
  margin-top: 75px;
  width: 100%;
  height: calc(100vh - 75px);
  background-color: #ffffff;
}

.burger-menu .nav {
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 576px) {
  .burger-menu .nav {
    padding: 2px 0;
  }
}

.burger-menu .nav nav {
  padding-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.burger-menu .nav nav a {
  width: 25%;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .burger-menu .nav nav a {
    width: 50%;
  }
}

.burger__links a:not(:last-of-type) {
  margin-right: 9px;
}

.burger__links svg {
  max-width: 32px;
  max-height: 32px;
}

.burger__phone {
  margin-top: 40px;
  max-width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.burger__phone a {
  display: block;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 700;
  color: #101010;
  white-space: nowrap;
}

.burger__phone a:not(:last-of-type) {
  margin-bottom: 10px;
}

.burger__phone svg {
  margin-top: 2px;
  margin-right: 10px;
  max-width: 18px;
  max-height: 18px;
  fill: #2B8E53 !important;
}

.burger__email {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 700;
  color: #101010;
}

.burger__email svg {
  margin-right: 10px;
  max-width: 18px;
  max-height: 15px;
  fill: #2B8E53;
}

.entry-plan {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.entry-plan__overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.8);
}

.entry-plan__nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

.entry-plan .slick-list {
  z-index: 100;
}

.entry-plan .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entry-plan .slick-prev, .entry-plan .slick-next {
  z-index: 100;
  position: absolute;
  top: calc(50% + 400px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 50px;
  height: 14px;
  font-size: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .entry-plan .slick-prev, .entry-plan .slick-next {
    top: calc(50% + 250px);
  }
}

@media screen and (max-width: 576px) {
  .entry-plan .slick-prev, .entry-plan .slick-next {
    top: calc(50% + 150px);
  }
}

.entry-plan .slick-prev {
  left: calc(50% - 30px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49 16' fill='none'%3E%3Cpath d='M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.93L.293 7.293ZM49 7H1v2h48V7Z' fill='%23fff' /%3E%3C/svg%3E");
}

@media screen and (min-width: 768px) {
  .entry-plan .slick-prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49 16' fill='none'%3E%3Cpath d='M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.93L.293 7.293ZM49 7H1v2h48V7Z' fill='%23FF574D' /%3E%3C/svg%3E");
  }
}

.entry-plan .slick-next {
  left: calc(50% + 30px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49 16' fill='none'%3E%3Cpath d='M48.707 7.293a1 1 0 0 1 0 1.414l-6.364 6.364a1 1 0 0 1-1.414-1.414L46.586 8l-5.657-5.657A1 1 0 0 1 42.343.93l6.364 6.364ZM0 7h48v2H0V7Z' fill='%23fff' /%3E%3C/svg%3E");
}

@media screen and (min-width: 768px) {
  .entry-plan .slick-next:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49 16' fill='none'%3E%3Cpath d='M48.707 7.293a1 1 0 0 1 0 1.414l-6.364 6.364a1 1 0 0 1-1.414-1.414L46.586 8l-5.657-5.657A1 1 0 0 1 42.343.93l6.364 6.364ZM0 7h48v2H0V7Z' fill='%23FF574D' /%3E%3C/svg%3E");
  }
}

.entry-plan img {
  margin: 0 20%;
  width: 1070px !important;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .entry-plan img {
    width: 500px !important;
    height: 400px;
  }
}

@media screen and (max-width: 576px) {
  .entry-plan img {
    width: 300px !important;
    height: 200px;
  }
}

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .modal {
    padding: 0 15px;
  }
}

.modal__overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.8);
}

.modal__form {
  z-index: 2;
  margin: 0 auto;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .modal__form {
    padding: 60px 20px;
  }
}

.modal__form .form__input {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .modal__form .form__policy span a {
    white-space: nowrap;
  }
}

.gratitude {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .gratitude {
    padding: 0 15px;
  }
}

.gratitude__overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.8);
}

.gratitude__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 128px 60px;
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #F1F1F1;
}

@media screen and (max-width: 576px) {
  .gratitude__wrapper {
    padding: 78px 20px;
  }
}

.gratitude__wrapper svg {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 576px) {
  .gratitude__wrapper svg {
    width: 80px;
    height: 80px;
  }
}

.gratitude__title {
  margin: 20px 0;
  max-width: 300px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #101010;
}

@media screen and (max-width: 576px) {
  .gratitude__title {
    font-size: 25px;
    line-height: 32.5px;
    font-weight: 700;
  }
}

.gratitude__dsc {
  max-width: 510px;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  color: #373737;
}

.gratitude__close {
  position: absolute;
  top: 23px;
  right: 18px;
  width: 23px;
  height: 23px;
}

@media screen and (min-width: 768px) {
  .gratitude__close {
    cursor: pointer;
  }
}

.gratitude__close span {
  display: block;
  width: 33px;
  height: 2px;
  background-color: #2B8E53;
}

.gratitude__close span:first-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.gratitude__close span:last-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  padding: 31px 0;
  background-color: #F1F1F1;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 29px 0;
    background-color: #ffffff;
    -webkit-filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.1));
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  margin-left: auto;
  margin-right: 76px;
  padding-left: 12px;
  max-width: 750px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .header__info {
    max-width: 520px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .header__info {
    display: none;
  }
}

.header__info a {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 700;
  color: #101010;
}

.header__address, .header__email, .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__address svg, .header__email svg, .header__phone svg {
  margin-right: 10px;
  fill: #FF574D;
}

@media screen and (max-width: 1200px) {
  .header__address svg, .header__email svg, .header__phone svg {
    margin-right: 5px;
  }
}

.header__address {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
  color: #373737;
  background-color: #F1F1F1;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header__address {
    font-size: 12px;
  }
}

.header__address svg {
  max-width: 14px;
  max-height: 18px;
}

.header__address svg:last-of-type {
  margin-right: 0;
  margin-left: 8px;
  max-width: 12px;
  max-height: 10px;
  fill: none;
}

.header__phone svg {
  max-width: 18px;
  max-height: 18px;
}

@media screen and (max-width: 1200px) {
  .header__phone a {
    font-size: 12px;
  }
}

.header__phone a:first-of-type {
  margin-right: 12px;
}

@media screen and (max-width: 1200px) {
  .header__phone a:first-of-type {
    margin-right: 4px;
  }
}

.header__email {
  margin-left: 73px;
  margin-right: 56px;
}

@media screen and (max-width: 1200px) {
  .header__email {
    margin: 0;
    font-size: 12px !important;
  }
}

.header__email svg {
  max-width: 18px;
  max-height: 15px;
}

.header__btn {
  padding: 15px 28px;
}

@media screen and (max-width: 992px) {
  .header__btn {
    max-width: 130px;
    padding: 12px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

.nav {
  padding: 25px 0;
  -webkit-box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1);
}

.nav-mobile {
  padding: 26px 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
}

.nav-mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mobile__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-mobile__address svg:first-of-type {
  margin-right: 10px;
  max-width: 14px;
  max-height: 20px;
  fill: #FF574D;
}

.nav-mobile__address svg:last-of-type {
  margin-left: 8px;
  max-width: 15px;
  max-height: 10px;
}

.nav-mobile__phone svg {
  max-width: 45px;
  max-height: 45px;
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav nav a {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
  color: #101010;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media screen and (min-width: 992px) {
  .nav nav a:hover {
    color: #2B8E53;
  }
}

@media screen and (max-width: 992px) {
  .nav-section a {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 768px) {
  .nav-section {
    display: none;
  }
}

.main {
  position: relative;
  padding: 145px 0;
}

.main::before {
  content: '';
  z-index: 1;
  position: absolute;
  bottom: 17px;
  right: 155px;
  width: 646px;
  height: 351px;
  background-image: url(../img/main-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.main::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 725px;
  height: 460px;
  border-top-left-radius: 10px;
  background-color: #2B8E53;
}

@media screen and (max-width: 1400px) {
  .main {
    padding: 75px 0;
  }
  .main::after {
    width: 46% !important;
    height: 409px;
    border-top-left-radius: 0;
  }
  .main::before {
    bottom: 60px;
    width: 500px;
    height: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .main h2, .main p {
    max-width: 400px !important;
  }
  .main::after {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 357px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .main::before {
    right: 30px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 360px;
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  .main::before {
    right: 0px;
    bottom: 50%;
    width: 220px;
    height: 158px;
  }
  .main::after {
    bottom: 50%;
    width: 160px !important;
    height: 238px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    padding-top: 0;
    padding-bottom: 250px;
  }
  .main::before {
    bottom: 91px;
    right: 5%;
    width: 290px;
    height: 158px;
  }
  .main::after {
    bottom: 93px;
    width: 271px !important;
    height: 238px;
    border-bottom-left-radius: 0;
  }
  .main h2 {
    font-size: 25px  !important;
    line-height: 32.5px !important;
  }
  .main p {
    font-size: 16px;
    line-height: 20.8px;
  }
  .main__btn {
    max-width: 100%;
    width: 100%;
  }
}

.main h2, .main p {
  max-width: 520px;
}

.main h2 {
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
}

.main p {
  margin: 20px 0;
}

.main__btn {
  padding: 15px 47.5px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  font-size: 30px;
  line-height: 36.31px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #373737;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 576px) {
  .marquee {
    margin-top: 26px;
    font-size: 20px;
    line-height: 24.2px;
  }
}

.marquee .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marquee .slick-slide {
  padding: 0 15px;
}

.branches {
  padding-top: 70px;
}

@media screen and (max-width: 576px) {
  .branches {
    padding-bottom: 82px;
    background-color: #F1F1F1;
  }
  .branches .section__title {
    text-align: left !important;
  }
}

.branches__wrapper {
  position: relative;
  margin-top: 70px;
  padding: 70px 80px;
  text-align: center;
  background-color: #F1F1F1;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .branches__wrapper {
    padding: 30px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .branches__wrapper {
    margin-top: 80px;
    padding: 0;
  }
}

.branches ul {
  list-style: none;
}

.branches button {
  padding: 15px 28px;
}

@media screen and (max-width: 768px) {
  .branches button {
    margin: 0 !important;
    max-width: 100%;
    width: 100%;
  }
  .branches button:first-of-type {
    margin-bottom: 20px !important;
  }
}

.branches button:last-of-type {
  margin-left: 26px;
  padding: 15px 53px;
}

.branches__slider {
  margin-top: 42px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 29px;
  list-style: none;
  overflow: hidden;
}

.branches__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
}

.branches__slider .slick-list {
  width: 100%;
}

.branches__slider .slick-dots {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

@media screen and (max-width: 576px) {
  .branches__slider .slick-dots {
    left: 0;
    bottom: -42px;
  }
}

.branches__slider .slick-dots li {
  display: none;
}

.branches__slider .slick-dots li .current {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FF574D;
}

.branches__slider .slick-dots li span {
  margin: 0;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 700;
  color: #101010;
}

.branches__slider .slick-dots .slick-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.branches__slider[data-branch-type="racing"] {
  display: none;
}

.branches__slider li {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .branches__slider li {
    max-width: 100%;
    min-width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .branches__slider li {
    min-width: 100%;
  }
}

.branches__slider li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.branches__slider li span {
  margin-top: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #101010;
  white-space: nowrap;
}

@media screen and (max-width: 576px) {
  .branches__slider li span {
    font-size: 16px;
  }
}

.branches__slider li svg {
  max-width: 28px;
  max-height: 35px;
}

.branches__slider li svg path {
  fill: #FF574D;
}

.trainer {
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
}

.trainer::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 695px;
  height: 210px;
  background-color: #2B8E53;
}

@media screen and (max-width: 1200px) {
  .trainer::before {
    width: 628px;
  }
}

@media screen and (max-width: 992px) {
  .trainer::before {
    display: none;
  }
}

.trainer::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 145px;
  right: 0;
  width: 646px;
  height: 132px;
  background-color: #F1F1F1;
}

@media screen and (max-width: 1400px) {
  .trainer::after {
    display: none;
  }
}

.trainer .section__title {
  margin-top: 40px;
  margin-bottom: 110px;
  max-width: 363px;
}

@media screen and (max-width: 992px) {
  .trainer .section__title {
    margin-bottom: 50px;
    max-width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    color: #101010;
  }
}

@media screen and (max-width: 576px) {
  .trainer .section__title {
    margin-top: 26px;
    margin-bottom: 41px;
  }
}

.trainer .section__dsc {
  max-width: 630px;
  line-height: 22.4px;
}

@media screen and (max-width: 1400px) {
  .trainer .section__dsc {
    max-width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .trainer .section__dsc {
    display: none;
  }
}

.trainer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .trainer__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .trainer__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.trainer__mobile-dsc {
  max-width: 400px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .trainer__mobile-dsc {
    text-align: left;
  }
}

.trainer__mobile-dsc span {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #373737;
}

.trainer__mobile-dsc span.--hidden {
  margin-bottom: 20px;
  display: none;
}

@media screen and (max-width: 992px) {
  .trainer__mobile-dsc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.trainer__mobile-dsc button {
  margin: 20px auto;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 600;
  color: #2B8E53;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .trainer__mobile-dsc button {
    margin: 14px 0;
    text-align: left;
  }
}

.trainer__mobile-dsc button svg {
  max-width: 14px;
  max-height: 18px;
}

.trainer__slider-pagination {
  position: absolute;
  top: 218px;
  left: 35% !important;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #101010;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 1400px) {
  .trainer__slider-pagination {
    top: 400px;
    left: 200px !important;
  }
}

@media screen and (max-width: 576px) {
  .trainer__slider-pagination {
    top: 235px !important;
  }
}

.trainer__slider-pagination .swiper-pagination-current {
  margin-right: -5px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #FF574D;
}

.trainer__slider-pagination .swiper-pagination-total {
  margin-left: -5px;
}

@media screen and (max-width: 992px) {
  .trainer__slider-pagination {
    top: 330px;
    left: 240px !important;
    z-index: 2;
  }
}

.trainer__slider-btn-prev, .trainer__slider-btn-next {
  z-index: 1;
  position: absolute;
  top: 230px;
  margin: 0 5px;
  max-width: 49px;
  max-height: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.trainer__slider-btn-prev svg path, .trainer__slider-btn-next svg path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 1400px) {
  .trainer__slider-btn-prev, .trainer__slider-btn-next {
    top: 415px;
  }
}

@media screen and (min-width: 768px) {
  .trainer__slider-btn-prev svg:hover path, .trainer__slider-btn-next svg:hover path {
    fill: #FF574D;
  }
}

.trainer__slider-btn-prev {
  left: calc(58% - 40px);
}

@media screen and (max-width: 1400px) {
  .trainer__slider-btn-prev {
    left: 0;
  }
}

.trainer__slider-btn-next {
  left: calc(58% + 30px);
}

@media screen and (max-width: 1400px) {
  .trainer__slider-btn-next {
    left: 80px;
  }
}

.trainer__slider-dsc {
  width: 280px;
  height: 210px;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .trainer__slider-dsc {
    margin-left: 100px;
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .trainer__slider-dsc {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .trainer__slider-dsc {
    z-index: 2;
    margin-top: -10px;
    width: 290px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  .trainer__slider-dsc {
    height: 156px;
  }
}

.trainer__slider-photos {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 49.9%;
  max-width: 1000px;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .trainer__slider-photos {
    left: 728px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .trainer__slider-photos {
    left: 628px;
  }
}

@media screen and (max-width: 992px) {
  .trainer__slider-photos {
    z-index: 1;
    position: relative;
    left: 0;
    padding: 0;
    max-width: 290px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 576px) {
  .trainer__slider-photos {
    margin-top: 26px;
    height: 290px !important;
  }
}

.trainer__slider-photos .swiper-slide {
  width: 300px;
}

@media screen and (max-width: 992px) {
  .trainer__slider-photos .swiper-slide {
    max-width: 290px;
  }
  .trainer__slider-photos .swiper-slide img {
    border-top-left-radius: 10px !important;
  }
}

.trainer__slider-photos .swiper-slide img {
  width: 190px;
  height: 200px;
}

@media screen and (max-width: 992px) {
  .trainer__slider-photos .swiper-slide img {
    width: 300px !important;
    height: 385px !important;
  }
}

@media screen and (max-width: 576px) {
  .trainer__slider-photos .swiper-slide img {
    width: 290px !important;
  }
}

.trainer__slider-photos .swiper-slide-active {
  width: 300px !important;
  height: 385px !important;
  margin-right: 80px !important;
}

@media screen and (max-width: 992px) {
  .trainer__slider-photos .swiper-slide-active {
    margin-right: 0 !important;
  }
}

.trainer__slider-photos .swiper-slide-active img {
  height: 385px;
  width: 300px;
  border-top-left-radius: 0;
}

.trainer img {
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
}

.trainer__persone {
  padding: 42px 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #F1F1F1;
}

@media screen and (max-width: 576px) {
  .trainer__persone {
    padding: 20px;
  }
}

.trainer__exp {
  display: block;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  color: #373737;
}

.trainer__exp:not(:last-of-type) {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .trainer__exp:not(:last-of-type) {
    margin-top: 10px;
  }
}

.trainer__name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #101010;
}

.answers {
  position: relative;
  padding-top: 179px;
}

@media screen and (max-width: 1200px) {
  .answers {
    padding-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .answers {
    padding-top: 71px;
    padding-bottom: 59px;
  }
}

.answers::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 109px;
  width: 1058px;
  height: 768px;
  background-color: #2B8E53;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .answers::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 10px;
    width: 90%;
    height: 92%;
  }
}

@media screen and (max-width: 992px) {
  .answers::before {
    left: 0;
    width: 100%;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 576px) {
  .answers::before {
    top: 71px;
    height: 411px;
  }
}

.answers::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 7%;
  top: 444px;
  width: 674px;
  height: 340px;
  background-image: url(../img/answers-bg.png);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .answers::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 992px) {
  .answers::after {
    max-width: 100%;
    background-size: contain;
  }
}

@media screen and (max-width: 576px) {
  .answers::after {
    top: 255px;
    max-width: 290px;
    max-height: 147px;
    width: 100%;
    height: 100%;
  }
}

.answers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .answers__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .answers__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.answers h2 {
  max-width: 440px;
}

@media screen and (max-width: 1200px) {
  .answers h2 {
    margin: 50px 0;
    padding: 0 40px;
    max-width: 100%;
    text-align: center !important;
  }
}

@media screen and (max-width: 576px) {
  .answers h2 {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 306px;
    padding: 0;
    text-align: left !important;
    font-size: 25px;
    line-height: 32.5px;
    font-weight: 700;
  }
}

.answers__list {
  margin-left: 106px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 1400px) {
  .answers__list {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .answers__list {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .answers__list {
    padding: 0;
    width: 100%;
  }
}

.answers__item {
  position: relative;
  padding: 30px;
  padding-right: 65px;
  max-width: 740px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F1F1F1;
  border-radius: 10px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 768px) {
  .answers__item {
    padding: 20px;
  }
}

.answers__item:not(:last-of-type) {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .answers__item:not(:last-of-type) {
    margin-bottom: 21px;
  }
}

.answers__item.--active {
  -webkit-filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(5px 10px 30px rgba(0, 0, 0, 0.1));
  background-color: #ffffff;
}

.answers__item.--active .line {
  background-color: #FF574D;
}

.answers__item.--active .line:first-of-type {
  right: 35px;
}

.answers__item.--active .line:last-of-type {
  right: 35px;
}

.answers__item p {
  margin-right: 40px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #101010;
}

@media screen and (max-width: 576px) {
  .answers__item p {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
  }
}

.answers__item .line {
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #2B8E53;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.answers__item .line:first-of-type {
  right: 30px;
  top: 35px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 576px) {
  .answers__item .line:first-of-type {
    right: 17px;
    top: 24px;
  }
}

.answers__item .line:last-of-type {
  right: 40px;
  top: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 576px) {
  .answers__item .line:last-of-type {
    right: 26px;
    top: 24px;
  }
}

.answers__hidden {
  display: none;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  color: #373737;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .answers__hidden {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 400;
  }
}

.answers__hidden.--active {
  margin-top: 15px;
}

@media screen and (max-width: 576px) {
  .map {
    padding-top: 0;
    padding-bottom: 819px;
  }
}

.map__select {
  margin-top: 71px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .map__select {
    margin-top: 41px;
    margin-bottom: 0;
  }
}

.map__select svg {
  max-width: 14px;
  max-height: 18px;
  fill: #FF574D;
}

.map__select svg:first-of-type {
  margin-right: 9px;
}

.map__select svg:last-of-type {
  margin-left: 8px;
  max-width: 12px;
  max-height: 10px;
  fill: none;
}

@media screen and (max-width: 576px) {
  .map .section__title {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .map__container {
    position: relative;
  }
}

.map__wrapper {
  position: relative;
}

@media screen and (max-width: 992px) {
  .map__wrapper {
    padding-bottom: 180px;
  }
}

@media screen and (max-width: 576px) {
  .map__wrapper {
    position: absolute;
    top: 110px;
    left: 0;
    padding-bottom: 202px;
    width: 100%;
  }
}

.map__wrapper iframe {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 576px) {
  .map__wrapper iframe {
    height: 594px;
  }
}

.map__classes {
  z-index: 2;
  position: absolute;
  right: 150px;
  top: 35px;
  padding: 30px;
  padding-left: 30px;
  padding-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .map__classes {
    right: 60px;
  }
}

@media screen and (max-width: 992px) {
  .map__classes {
    top: auto;
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .map__classes {
    right: 0;
    left: 0;
    bottom: 61px;
    padding: 40px 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
  }
}

.map__classes-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #101010;
}

@media screen and (max-width: 992px) {
  .map__classes-title {
    max-width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .map__classes-title {
    margin-bottom: 21px;
    max-width: 100%;
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 700;
  }
}

.map__class {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 992px) {
  .map__class {
    padding: 0 20px;
    width: 180px;
    border-bottom: 0;
    border-right: 1px solid #DADADA;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  .map__class {
    width: 100%;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #DADADA;
  }
  .map__class:first-of-type {
    padding-top: 0;
  }
}

.map__class:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .map__class:last-of-type {
    border-right: 0;
  }
}

.map__class svg {
  max-width: 15px;
  max-height: 9px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.map__class button {
  max-width: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 700;
  color: #373737;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.map__address {
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 700;
  color: #2B8E53;
}

.map__worktime {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  color: #373737;
}

.contact {
  position: relative;
  padding-top: 44px;
}

@media screen and (max-width: 576px) {
  .contact {
    padding-top: 78px;
    background-color: #F1F1F1;
  }
}

.contact::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 1372px;
  height: 560px;
  max-height: 100%;
  background-color: #2B8E53;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1500px) {
  .contact::before {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .contact::before {
    top: 0;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  .contact::before {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .contact::before {
    width: 100%;
    height: 355px;
    border-radius: 0;
  }
}

.contact::after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 167px;
  left: 134px;
  width: 971px;
  height: 385px;
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1200px) {
  .contact::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 992px) {
  .contact::after {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .contact::after {
    top: 150px;
    width: 290px;
    height: 115px;
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .contact__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__title {
  z-index: 10;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .contact__title {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .contact__title {
    margin-bottom: 311px;
  }
}

.contact__form {
  z-index: 12;
  margin-right: -70px;
}

@media screen and (max-width: 1500px) {
  .contact__form {
    margin: 0;
  }
}

.footer {
  padding-top: 125px;
  padding-bottom: 140px;
  background-color: #373737;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 50px 0;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 93px;
  }
}

.footer .logo {
  color: #ffffff;
}

.footer .logo::before {
  display: none;
}

@media screen and (max-width: 576px) {
  .footer .logo::before {
    display: block;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .footer__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__top .nav {
  margin-left: 140px;
  margin-top: -9px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 992px) {
  .footer__top .nav {
    margin: 0;
  }
}

.footer__top .nav a {
  color: #ffffff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

@media screen and (max-width: 1200px) {
  .footer__bottom {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom small {
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 4;
  color: #989898;
  white-space: nowrap;
}

@media screen and (max-width: 992px) {
  .footer__bottom small {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer__bottom small {
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .footer__nav nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .footer__nav nav a {
    margin-bottom: 22px;
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .footer__nav {
    margin-top: 29px !important;
  }
  .footer__nav nav {
    text-align: left;
  }
  .footer__nav nav a {
    width: 44%;
  }
}

.footer__info {
  margin-left: 140px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1400px) {
  .footer__info {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .footer__info {
    margin-left: 50px;
  }
}

@media screen and (max-width: 992px) {
  .footer__info {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 576px) {
  .footer__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer__phone {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__phone a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .footer__phone a {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .footer__phone a:not(:last-of-type) {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 576px) {
  .footer__phone a {
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 700;
  }
  .footer__phone a:first-of-type {
    margin-top: 5px;
  }
}

.footer__phone a:first-of-type {
  margin-right: 14px;
}

.footer__phone svg {
  margin-right: 10px;
  max-width: 23px;
  max-height: 23px;
  fill: #2B8E53;
}

@media screen and (max-width: 1200px) {
  .footer__phone svg {
    margin-top: 3px;
  }
}

@media screen and (max-width: 576px) {
  .footer__phone svg {
    margin-right: 2px;
  }
}

.footer__email {
  margin-left: 63px;
  margin-right: 143px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #2B8E53;
}

@media screen and (max-width: 1400px) {
  .footer__email {
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .footer__email {
    margin: 40px 0;
  }
}

@media screen and (max-width: 576px) {
  .footer__email {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }
}

@media screen and (max-width: 992px) {
  .footer__links {
    margin-bottom: 44px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 576px) {
  .footer__links {
    margin-bottom: 33px;
  }
}

.footer__links a:not(:last-of-type) {
  margin-right: 14px;
}

.footer__links svg {
  max-width: 32px;
  max-height: 32px;
}
/*# sourceMappingURL=style.css.map */